<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidyanand.fcmsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".PushNotificationReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.vidyanand.registrationComplete"></action>
            </intent-filter>

            <intent-filter>
                <action android:name="com.vidyanand.messageReceived"></action>
            </intent-filter>

        </receiver>
    </application>

</manifest>